:root {
  --violet: #ff00ff;
  --dark-color: #912179;
  --light-color: #666;
  --border: 1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 1rem solid var(--black);
  --box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 2s linear;
  transition: width none;
}

::selection {
  background: var(--violet);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
 /* html ::-webkit-scrollbar {
  width: 1rem;
}  */

html ::-webkit-scrollbar-track {
  background: transparent;
}

html ::-webkit-scrollbar-thumb {
  background: var(--black);
}

section{
  padding: 5rem 9%;
  

}

.heading{
  text-align: center;
  margin-bottom: 2rem;
  position: relative;

}

.heading  ::before{
  content: '';
  position: absolute;
  top: 50rem; left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: .01rem;
  background: rgba(0,0,0,.1);
  z-index: -1;

}

.heading span{
  margin-right: 5rem;
  font-size: 2rem;
  padding: 1rem 1rem;
  color: var(--violet);
  background: #fff;
  border: var(--border);
}


.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  border-radius: .5rem;
  columns: white;
  background: var(--violet);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}



.btn:hover{
  background: var(--dark-color);

}

header .header-1 {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  background: #fff;
  /* z-index: 1000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2%;
}

header .header-1 .logo {
  font-size: 2.5rem;
  margin-right: 9rem;
  font-weight: bolder;
  color: var(--black);
  text-transform: uppercase;
}

header .header-1 .logo i {
  color: var(--violet);
}

header .header-1 .search-form {
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 5rem;
}

header .header-1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 95%;
  text-transform: none;
  color: var(--black);
}

header .header-1 .search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

header .header-1 .search-form label:hover {
  color: var(--violet);
}
.icons {
  margin-left: 15rem;
  font-size: 2rem;
}

header .header-1 .icons div,
header.header-1 .icons a {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

header .header-1 .icons div:hover,
header.header-1 .icons a:hover {
  color: var(--violet);
}

#search-btn {
  display: none;
}

.header .header-2 a:hover {
  background: var(--violet);
}

.header .header-2 .active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .header-2 .navbar {
  text-align: center;
}

.buttom-navbar{
 text-align: center;
 background: var(--violet);
 position: fixed;
 bottom: 0;
 left: 0;
 display: none;
 right: 0;
 z-index: 1000;
}


.buttom-navbar a{
font-size: 2.5rem;
padding: 2rem;
color: #fff;
}

.buttom-navbar a:hover{
  background: var(--dark-color);

}

.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,.9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
}

.login-form-container .active{
  right: 0;

}

.login-form-container form{
  background: #fff;
  border: var(--border);
  width: 40rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  margin: 2rem;
}

.login-form-container form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;

}


.login-form-container form span{
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;

}

.login-form-container form .box{
  width: 100%;
  margin: 2rem 0;
  font-size: 1.6rem;
  border: var(--border);
  border-radius: 3rem;
  padding: 1rem 1.2rem;
  color: var(--black);
  text-transform: none;
}


.login-form-container form .checkbox{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;

}

.login-form-container form .checkbox label{
  font-size: 1.5rem ;
  columns: var(--light-color);
  cursor: pointer;

}

.login-form-container form .btn{
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;

}

.login-form-container form p{
  padding-top: 1rem;
 color: var(--light-color);
 font-size: 1.5rem;

}


.login-form-container form p a{
  color: var(--violet);
  text-decoration: underline;


}

.login-form-container #close-login-btn{
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: var(--black);
  cursor: pointer;
}

.home .btn{
  color: white;
}



.home{
  background: url(../Images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 61rem; */
}

.home .row{
  display:flex ;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;


}


.home .row .content{
  flex: 1 1 42rem;

}

.home .row .books-slider{
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 2rem;

}


 .home .row .books-slider a img{
 height: 25rem;
}

.home .row .books-slider a:hover img{
 transform: scale(.9);
}

.home .row .books-slider .stand{
  width: 115%;
  padding-right: 7rem;
  margin-top: -2rem;

}



.home .row .content h3{
  color: var(--black);
  font-size: 4.5rem;
}
.home .row .content p{
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 2;
  padding: 1rem 0;

}

.icons-container{
  display: inline-flex;
  padding-right: 27rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* gap: 1.5rem; */
}

.icons-container .icons{
  display: flex;
  align-items: center;
  gap:1.5rem;
  padding: 2rem 0;
}

.icons-container .icons i{
  font-size: 3.5rem;
  color: var(--violet);

}


.icons-container .icons h3{
  font-size: 2.2rem;
  color: var(--black) ;
  padding-bottom: 5rem;


}


.icons-container .icons p{
  font-size: 2.2rem;
  color: var(--light-color) ;
}

.featured .featured-slider .box{
  overflow: hidden;
  padding-left: 30rem;
  position: relative;
  display: inline-block;
  width: 25rem;
   /* gap: 1.5rem;  */
  /* align-items: center; */
  padding: 2rem 1rem;
  border: var(--border);
  margin: 2rem 0; 
  
  /* width: 25rem;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  border: var(--border);
  text-align: center; */
}


.swiper-wrapper{
  padding-left: 5rem;

}


/* .featured .featured-slider .box:hover{
  border: var(--border-hover);

} */

.featured .featured-slider .box .image{
  padding: 1rem;
  background: linear-gradient(15deg,#eee  30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
  transform: translateY(6rem);

}

.featured .featured-slider .box .image img{
  height: 25rem;

}


/* 
 .featured .featured-slider .box .icons{
  border-bottom: var(--border-hover);
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  transform: translateY(-100);

} 

 
 .featured .featured-slider .box:hover .icons{
     transform: translateY(0);

 }


 .featured .featured-slider .box .icons a{
  color: var(--black);
  padding: 1.3rem 1.5rem;
}   


.featured-slider .box .icons a:hover{
 background: var(--violet);
 color: #fff;
}

*/
 
.featured .featured-slider .box .content{
  background: #eee;
  padding: 1.5rem;
}



.featured .featured-slider .box .content h1{
 font-size: 2.5rem;
 color: var(--black);

}

 .featured .featured-slider .box .content .price{
 font-size: 1.3rem;
 color: var(--black);


}

 

.featured .featured-slider .box .content .price span{
 font-size: 1.5rem;
 color: var(--light-color);
text-decoration: line-through;
}
 


.swiper-button-next,
.swiper-button-prev{
  border: var(--border-hover);
  height: 4rem;
  width: 4rem;
  color: var(--black);
  background:#fff;

}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
  
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
 background: var(--black);
 color: snow;
  
}

.newsletter{
  background: url(../Images/lady.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.newsletter form{
  max-width: 45rem;
  margin-left: auto;
  text-align: center;
  padding: 5rem 0;
}

.newsletter form h3{
  color: #fff;
  font-size: 2.2rem;
  padding: 7rem;
  font-weight: normal;

}
.newsletter form .box{
  width: 100%;
  margin: .7rem 0;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 5rem ;
  text-transform: none;
}


.home .row .content h3{
  color: var(--black);
  font-size: 3.5rem;
  line-height: 2;
  padding: 1rem 0;
}


.header .header-2 .navbar a {
  color: #fff;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .navbar {
  background: var(--dark-color);
}


.arrivals .arrivals-slider .box{
  padding-left: 20rem;
  display: inline-flex;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 1rem;
  border: var(--border);
  margin: 1rem 0; 
}


/* 
.arrivals .arrivals-slider .box:hover{
  border: var(--border-hover);
} */

.arrivals .arrivals-slider .box .image img{
  height: 15rem;
  width: 17rem;

}



.arrivals .arrivals-slider .box .content h3{
  font-size: 2rem;
  color: black;
}



.arrivals .arrivals-slider .box .content .price{
  font-size: 2.2rem;
  color: black;
  padding-bottom: 5rem;

}





.arrivals .arrivals-slider .box .content .price span{
  font-size: 1.2rem;
  color: var(--light-color);
  text-decoration: line-through;
  
}




.arrivals .arrivals-slider .box .content .stars i{
  font-size: 1.5rem;
  color: var(--violet);

}



.deal{
  background: #f3f3f3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}



.deal .content{
  flex: 1 1 42rem;


}



.deal .content .image{
  flex: 1 1 42rem;
}



.deal .content img{
  width: 100%;

}

.deal .content h3{
 color: var(--violet);
 font-size: 2.5rem;
 padding-bottom: .5rem  ;
  

}



.deal .content h1{
 color: var(--black);
 font-size: 3.5rem;
}


.deal .content p{
padding: 1rem 0;
color: var(--light-color);
font-size: 1.4rem;
line-height: 2;
  

}

.review .review-slider .box{
  border: var(--border);
  width: 25rem;
  display: inline-block;
  /* padding: 2rem; */
  text-align: center;
}



.review-slider .wrap{
  padding-left: 13rem;
}


.review .review-slider .box:hover{
  border: var(--border-hover);

}



.review .review-slider .box img{
  height: 12rem;
  width: 1rem;
  border-radius: 100%;
  object-fit: cover;

}


.review .review-slider .box h3{
  color: var(--black);
  font-size: 2.2rem;
  padding: 2rem 0;
}




.review .review-slider .box p{
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;

}



.review .review-slider .box .star i{
  color: var(--violet);
  font-size: 1.7rem;
}


.review .review-slider .box {
  color: var(--black);
  font-size: 2.2rem;
  padding: 5rem 0;
  margin: 2rem 0;
}


.blogs .blogs-slider{
  padding: 6rem;
}


.blogs .blogs-slider .box{
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  width: 30rem;
  border: var(--border);
 
}

/* .blogs .blogs-slider .box:hover{
  border: var(--border-hover);

} */


.blogs .blogs-slider .box .image{
  
  height: 25rem;
  width: 100%;
  overflow: hidden;


}


.blogs .blogs-slider .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}




.blogs .blogs-slider .box:hover .image img{
  transform: scale(1.1);

}



.blogs .blogs-slider .box .content{
  padding: 1.5rem;

}




.blogs .blogs-slider .box .content h3{
  font-size: 2.2rem;
  color: var(--black);
  

}



.blogs .blogs-slider .box .content p{
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2 ;
  

}



.footer .box-container{
    position: relative;
  display: flex;
  padding-left: 1rem;
  
  /* display: grid;*/
  grid-template-columns: repeat(auto-fit, mimax (25rem, 1fr));
  gap: 17rem; 
}







.footer .box-container .box h3{
font-size: 2.2rem;
color: var(--black);
padding: 1rem 0;
}


.footer .box-container .box a{
font-size: 1.2rem;
color: var(--light-color);
padding: 1rem 0;
display: block;
}


.footer .box-container .box a i{
  color: var(--violet);
  padding-right: 5rem;
}

.footer .box-container .box a:hover i{
  padding-right: 2rem;
}

.footer .box-container .box .map{
  width: 100%;


}

.footer .share{
  padding: 1rem 0;
  text-align: center;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  background: var(--violet);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover{
  background: var(--black);


}

.footer .credit{
  border-top: var(--border);
  margin-top: 2.5rem;
  padding: 0.1rem;
  font-size: 2rem;
  color: var(--light-color) ;
  text-align: center;
  
}



.footer .credit span{
  color: var(--violet);


}

/* 
.loader-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
} */








.deal .content .btn{
 color: #fff;
}



.deal .content .img{
 width: 5rem;
}




body {
  height: 300rem;
}





/*media queries*/
 @media (max-width: 991px){
  html {
  font-size: 55%;
}



header .header-1{
  padding: 2rem ;
}

section{
  padding: 3rem 2rem;

}
}

 @media (max-width: 768px){
   html{
     scroll-padding-top: 0;
   }

   body{
    padding-bottom: 6rem;

   }

   
   .header .header-2{
     display: none;
   }

   .buttom-navbar{
     display: block;
   }

  #search-btn {
  display: inline-block;
}

    .header .header-1{
      box-shadow: var(--box-shadow);
      position: relative;
    }


     .header .header-1 .search-form{
       position: absolute;
       top: -115%;
       right: 2rem;
       width: 90%;
       box-shadow: var(--box-shadow);
      

     }

     .header .header-1 .search-form{
       top: -115%;
     }
      .home .row .content{
        text-align: center;
       font-size: 3.5rem;
       
     }

     .home .row .content h3{
       font-size: 3.5rem;

     }

     .newsletter{
       background-position: right;

     }

     .newsletter form{
       margin-left: 0;
       max-width: 100%;
     }
 }




 @media (max-width: 450px){
  html {
  font-size: 50%;

}



header .header-1{
  padding: 2rem ;
}
}







































/* 
.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 1rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(255, 165, 0, 2);
  color: var(--orange);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}






header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0.8rem;
}
header .navbar a:hover {
  color: var(--orange);
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--orange);
} 


header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.1rem solid grey;
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container .active {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container #search-bar {
  width: 200%;
  text-transform: none;
  font-size: 2rem;
  padding: 0.5rem;
  color: #333;
  border-radius: 5rem;
}

header .search-bar-container label {
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover {
  color: var(--orange);
} 


.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container .active {
  top: 0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: unset;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 1rem 0;
  border: 1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--orange);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: var(--orange);
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: unset;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: #fff;
  cursor: pointer;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid#fff;
  border-radius: 2rem;
  font-size: 3rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  display: none;
} 

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  z-index: 1;
  left: 0;
  top: 0;
  position: relative;
  text-align: center;
}

.home .content h3 {
  font-size: 4.5rem;

   text-transform: uppercase;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0 1); 
}

.home .content p {
  font-size: 2.5rem;
  position: relative;
  padding: 5rem 0;
}
